/* HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE */
header {
    font-family: Helvetica;
    background-color:cornflowerblue;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    width:100%;
}

header h1{
    display: inline-flex;
    color: white;
    margin:0px;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
}

nav {
    display: inline-flex;
}

nav ul{
    background-color: rgb(0, 0, 0, 0.5);
    display: inline-flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav a {
    color: white;
    padding: 1px 15px 1px 15px;
    line-height: 3em; 
    display: inline-flex;
    text-decoration: none;
}

nav a.active {
    color: white;
    background-color:cornflowerblue;
}

nav li a:hover{
    background-color: rgb(0, 0, 0, 0.5);
}

/* BODY STYLE BODY STYLE BODY STYLE BODY STYLE BODY STYLE BODY STYLE BODY STYLE BODY STYLE BODY STYLE BODY STYLE BODY STYLE BODY STYLE BODY STYLE BODY STYLE BODY STYLE BODY STYLE */
body{
    margin-top:0px;
    margin-bottom:0px;
    padding:12px;
    padding-bottom: 0;
    padding-top: 0;
    background-color: cornflowerblue;
}

main {
    padding: 8px;
    background-color: rgb(255, 255, 255, 0.8);
}

aside {
    background-color: aquamarine
}

footer {
    background-color: aquamarine;
    clear:both;
    text-align: center;
}



