body{
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
    margin:0;
    padding:0;
}

/* HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE HEADER STYLE */
#top{
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0px;
}

#top img{
    height: 35px;
    vertical-align: middle;
    display: inline-flex;
}

#top h1{
    color: rgb(0,0,0, 0.82);
    display: inline-flex;
    margin:0px;
    padding: 0px;
    padding-right:20px;
    text-align: center;
    vertical-align: middle;
}

#top #logo{
    margin-right: auto;
    position: sticky;
}

#buttons button{
    font-weight: bold;
    cursor: pointer;
    color: rgb(0,0,0, 0.82);
    border:0px;
    padding: 16px;
    text-decoration: none;
    background-color: rgb(255,255,255, 0.5);
    border-radius: 10px;
    transition: 0.125s;
	-webkit-transition: 0.125s;
	-moz-transition: 0.125s;
	-o-transition: 0.125s;
}

header {
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: rgb(255,255,255, 0.95);
    position: -webkit-sticky;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    outline: 1px solid black;
}

nav {
    margin: 0px;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
}

nav ul{
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    display: inline-flex;
    list-style-type: none;
    flex-wrap: wrap;
}

nav a {
    font-weight: 700;
    margin: 0px;
    padding: 16px;
    color: rgb(0,0,0, 0.7);
    display: inline-flex;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.125s;
	-webkit-transition: 0.125s;
	-moz-transition: 0.125s;
	-o-transition: 0.125s;
}

nav a.active {
    pointer-events: none;
    color: rgb(0,0,0, 0.4);
}

nav li a:hover, #buttons button:hover{
    border-radius:20px;
    background-color: rgb(0,0,0, 0.5);
    transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
    color: white;
}

/* END OF HEADER END OF HEADER END OF HEADEREND OF HEADER END OF HEADER END OF HEADER END OF HEADER END OF HEADER END OF HEADER END OF HEADER END OF HEADER END OF HEADER */

main, footer {
   /* margin:20px; */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px; 
    padding-top: 16px;
}

main {
    z-index: 1;
    position: relative;
    background-color: white;
    border-bottom: solid 1px rgb(102,153,255);
}

#main-width{
    width: 66%;
}

footer {
    padding-left: 40px;
    padding-right: 40px;
    z-index: 0;
    position:sticky;
    bottom: 0;
    text-align: center;
    background-color: rgb(193,203,222);
    color: rgb(255,255,255);
}

aside {

}

h1, h2, h3, p{
    padding-left: 40px;
    padding-right: 40px;
}

/* PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE PAGINI SECUNDARE */

#home h1{
    background-color: coral;
}

#travel h1{
    background-color: aqua;
}

#recipe-book h1{
    background-color: greenyellow;
}

#blog h1{
    background-color: darkorange;
}

#halloween-party h1{
    background-color: darksalmon;
}



